@page "/pokerroom"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client;
@using PokerWeb.Hubs

@rendermode InteractiveServer

<h1>Blazor SignalR Chat Sample</h1>
<hr />

@if (!IsChatting)
{
    <p>
        Enter your name to start chatting:
    </p>

    <input type="text" maxlength="32" @bind="@username" />
    <button type="button" @onclick="@Chat"><span class="oi oi-chat" aria-hidden="true"></span> Chat!</button>

    // Error messages
    @if (errorMessage != null)
    {
        <div class="invalid-feedback">@errorMessage</div>
        <small id="emailHelp" class="form-text text-muted">@errorMessage</small>
    }
}
else
{
    // banner to show current user
    <div class="alert alert-secondary mt-4" role="alert">
        <span class="oi oi-person mr-2" aria-hidden="true"></span>
        <span>You are connected as <b>@username</b></span>
        <button class="btn btn-sm btn-warning ml-md-auto" @onclick="@DisconnectAsync">Disconnect</button>
    </div>
    // display messages
    <div id="scrollbox">
        @foreach (var item in messages)
        {
            @if (item.IsNotice)
            {
                <div class="alert alert-info">@item.Body</div>
            }
            else if (item.IsEvaluation)
            {
                <div class="alert alert-info">@item.Body</div>
            }
            else
            {
                <div class="@item.CSS">
                    <div class="user">@item.Username</div>
                    <div class="msg">@item.Body</div>
                </div>
            }
        }
        <hr />
        <textarea class="input-lg" placeholder="enter your comment" @bind="@chatMessage"></textarea>
        <button class="btn btn-default" @onclick="@(() => SendAsync(chatMessage))">Send</button>
    </div>
}

@code {
    private bool IsChatting => hubConnection != null;

    // name of the user who will be chatting
    private string username = "";

    // on-screen message
    private string errorMessage = "";

    // new message input
    private string chatMessage = "";

    // list of messages in chat
    private List<Message> messages = new List<Message>();

    private HubConnection? hubConnection;

    public async Task Chat()
    {
        // check username is valid
        if (string.IsNullOrWhiteSpace(username))
        {
            errorMessage = "Please enter a name";
            return;
        };

        try
        {
            // Start chatting and force refresh UI.
            await Task.Delay(1);

            // remove old messages if any
            messages.Clear();

            // Create the chat client
            string baseUrl = NavigationManager.BaseUri;

            string hubUrl = baseUrl.TrimEnd('/') + PokerHub.Url;

            hubConnection = new HubConnectionBuilder()
                .WithUrl(hubUrl)
                .Build();

            hubConnection.On<string, string>("Broadcast", BroadcastMessage);

            await hubConnection.StartAsync();

            await SendAsync($"[Notice] {username} joined chat room.");
        }
        catch (Exception e)
        {
            errorMessage = $"ERROR: Failed to start chat client: {e.Message}";
            hubConnection = null;
        }
    }

    private void BroadcastMessage(string name, string message)
    {
        bool isMine = name.Equals(username, StringComparison.OrdinalIgnoreCase);

        messages.Add(new Message(name, message, isMine));

        // Inform blazor the UI needs updating
        InvokeAsync(StateHasChanged);
    }

    private async Task DisconnectAsync()
    {
        if (IsChatting)
        {
            await SendAsync($"[Notice] {username} left chat room.");

            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();

            hubConnection = null;
        }
    }

    private async Task SendAsync(string message)
    {
        if (IsChatting && !string.IsNullOrWhiteSpace(message))
        {
            await hubConnection.SendAsync("Broadcast", username, message);

            chatMessage = string.Empty;
        }
    }

    private class Message
    {
        public Message(string username, string body, bool mine)
        {
            Username = username;
            Body = body;
            Mine = mine;
        }

        public string Username { get; set; }
        public string Body { get; set; }
        public bool Mine { get; set; }

        public bool IsEvaluation => Body.StartsWith("[Evaluation]");
        public bool IsNotice => Body.StartsWith("[Notice]");

        public string CSS => Mine ? "sent" : "received";
    }
}